.nav0{
 color:black;
 background: linear-gradient(to right, #FFFFFF, #F5F5F5 50%, #0B46AE 100%);
 height: 100px;
}
.imagenlogo{
    float: left;
    height: 100px;
    width: auto;
}
.titulo{
    float: left;
    height: 100px;
    font-size: larger;
    margin-left: 30px;
    justify-content: center;
}
.h01{
    padding-top: 30px;
}

#btnInicioSesion{
    height: 100px;
    margin: auto;
    justify-content: center;
    float: right;
    font-size: 20px;
    color:black;
    border-bottom: #F5F5F5;
    
}
#btnInicioSesion:hover{
    height: 100px;
    margin: auto;
    justify-content: center;
    float: right;
    font-size: 20px;
    color: whitesmoke;
    text-decoration: underline black;
}
#opcionProductos{
    float: right;
    height: 100px;
    margin-left: 30px;
    text-decoration: underline;


}
#opcionProductos:hover{

    float: right;
    height: 100px;
    margin-left: 30px;
    color: black;
    text-decoration: underline black;
}

#btnregistro{
    height: 50%;
    margin-top: 2%;
    margin-right: 1%;
    justify-content: center;
    float: right;
    font-size: 20px;
    color:black;
    border-bottom: black;
    border: solid;
    border-radius: 15px;

}
#btnregistro:hover{
    height: 50%;
    margin-top: 2%;
    margin-right: 1%;
    justify-content: center;
    float: right;
    font-size: 20px;
    text-decoration: underline;
    color: whitesmoke;
    border-bottom: #F5F5F5;
    border-radius: 15px;
    border: solid;
    }

.CarritoCompra{
    float: right;
    height: 40px;
    width: auto;
    margin-top: 29px;
    margin-left: 30px;
}
.CarritoCompra:hover{
    float: right;
    height: 40px;
    width: auto;
    margin-top: 29px;
    margin-left: 30px;
    background-image: url(../../../assets/carrito-de-comprashover.png);
    background-size: 25px 25px;
    background-size: 100%;
    
}