.nav0{
 color:#A9A9A9;
 background-color:#F5F5F5;
 height: 100px;
}
.imagenlogo{
    float: left;
    height: 100px;
    width: auto;

}
.titulo{
    float: left;
    height: 100px;
    font-size: larger;
    margin-left: 30px;
    justify-content: center;
   
    
}
.h01{

    padding-top: 30px;
}

#btnInicioSesion{
    height: 100px;
    margin: auto;
    justify-content: center;
    float: right;
    font-size: 20px;
    color:#A9A9A9;
    border-bottom: #F5F5F5;
    
}
#btnInicioSesion:hover{
    height: 100px;
    margin: auto;
    justify-content: center;
    float: right;
    font-size: 20px;
    color: black;
    text-decoration: underline black;
}
#opcionProductos{
    float: right;
    height: 100px;
    margin-left: 30px;
    text-decoration: underline;


}
#opcionProductos:hover{

    float: right;
    height: 100px;
    margin-left: 30px;
    color: black;
    text-decoration: underline black;
}

#btnregistro{
    height: 100px;
    margin: auto;
    justify-content: center;
    float: right;
    font-size: 20px;
    color:#A9A9A9;
    border-bottom: #F5F5F5;

}
#btnregistro:hover{
    height: 100px;
    margin-top: auto;
    justify-content: center;
    float: right;
    font-size: 20px;
    text-decoration: underline;
    color: black;
    border-bottom: #F5F5F5;
    border-radius: 15px;
    border: solid;
    }

.CarritoCompra{
    float: right;
    height: 40px;
    width: auto;
    margin-top: 29px;
    margin-left: 30px;


}