
<div class="nav0">
    <nav>
        <div>
            <img class="imagenlogo" src="../../../assets/Logo.png" alt="logo">

            <div class="titulo">
                <h1 class="h01">
                    {{title}}
                </h1>

            </div>

            <div>
                <button mat-button color="primary" id="btnregistro">Regístrate</button>

            </div>



            <div id="btnInicioSesion">
                <h2 class="h01">
                   <span>Iniciar Sesión</span>
                </h2>
            </div>

            <div>
                <a>
                    <img class="CarritoCompra" src="../../../assets/carrito-de-compras.png">
                </a>

            </div>

            <div id="opcionProductos">
                <h2 class="h01">
                   <span>Productos</span>
                </h2>
            </div>

            





        </div>

        
       
        

    </nav>

</div>