<p>registro works!</p>

<form>

    <p>Registro</p>
  

    <input type="text" formControlName="contactFormName" mdbInput
     placeholder="Nombre">
  
    <input type="email" formControlName="contactFormEmail" mdbInput
     placeholder="Correo">
  
    <label>Tipo Documento</label>
    <select >
      <option value="1" selected>Cedula</option>
      <option value="2">Pasaporte</option>
      <option value="3">Cedula de extrangeria</option>
      <option value="4">Nit</option>
    </select>
    <input type="text" formControlName="contactFormName" mdbInput
     placeholder="Número de Documento">

     <input type="password" formControlName="contactFormName" mdbInput
     placeholder="contraseña">


    <button mdbBtn color="info" outline="true" block="true" 
      mdbWavesEffect type="submit">Inscribirse</button>
  
  </form>
