.maim{
background-color: black;

}
.bar{

    background-color: black green;

}
body{

    background-color: #4caf50;
}

a{
    color: aqua;
    background-color: #4caf50 green;
}
.img{
    height: 100%;
    width: 20%;

}