
#card{
    float: left;
    margin: 1%;
    padding: 1%;
    height: 19%;
    width: 20%;
    border:solid;
    border-color: #0B46AE;
    border-radius: 15px;
    background-color: whitesmoke;
}
#imagen{
    width: 100%;
    border:solid;
    border-radius: 15px;
    border-color: #0B46AE;
}

#addCarrito{

    height: 50%;
    justify-content: center;
    float: left;
    margin-left: 25%;
    font-size: 100%;
    color:black;
    border-bottom: black;
    border: solid;
    border-radius: 15px;
    border-color: #0B46AE;
   
}

#addCarrito:hover{
    height: 50%;
    justify-content: center;
    float: left;
    margin-left: 25%;
    font-size: 100%;
    color:whitesmoke;
    border-bottom: whitesmoke;
    border: solid;
    border-radius: 15px;
}
